<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Detail zprávy</title>

</head>
<body>
{% block content %}
    <h1>Zpráva od {{ message.sender }}</h1>
    <li><small><b>Doručena:</b> {{ message.timestamp }}</small></li>
    <li><b>Text zprávy:</b> {{ message.content }}</li>
    <li><b>Kontakt na uchazeče:</b> <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
    <br>
    <li><a href="{% url 'job-detail' job.id %}">Týká se pozice {{ position_name }} v {{ place }} </a></li>
    <br>
    {% if user == message.recipient %}
        <form action="{% url 'archive-message' message.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Smazat zprávu"
                   style="padding: 10px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
        </form>
    {% endif %}
<br>
    <a href="{% url 'inbox' %}"
       style="display: inline-block; padding: 10px 15px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; cursor: pointer;">Zpět
        na zprávy</a>

{% endblock %}

</body>
</html>