<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
</head>
<body>
<ul>
    {% for job in jobs %}
    <li>
        {{ job.positions }}
        <a href="{% url 'job' job.id %}">>>>Job Detail<<<</a>
    </li>
    {% endfor %}

    <a href="{% url 'create' %}">>>>new ad<<<</a>

    <ul>
        <li><a href="{% url 'all_jobs' %}">View All Available Jobs</a></li>
        <li><a href="{% url 'registration' %}">Registration</a></li>
        <li><a href="{% url 'business-registration' %}">Register as a Company</a></li>

    </ul>
</body>
</html>
